{% extends 'base.html.twig' %}

{% block title %}Edit Rayon{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
<div>
    <h1>Modification Rayon</h1>

    {{ include('rayon/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('rayon_index') }}" class="btn btn-secondary">retour à la liste</a>

    {{ include('rayon/_delete_form.html.twig') }}
</div>
</div>
{% endblock %}
