{% extends 'base.html.twig' %}

{% block title %}New Bien{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
    <h1>Creation du Bien</h1>

    {{ include('bien/_form.html.twig') }}
<div>
    <a href="{{ path('bien_index') }}" class="btn btn-secondary">retoure de la liste</a>
</div>
</div>
{% endblock %}
