{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{%form_theme form 'bootstrap_4_layout.html.twig'%}
{% block body %}
<div id="layoutSidenav_content">
    <h1>Creation d'un novel utilisateur</h1>

    {{ include('user/_form.html.twig') }}
    <div>
        <a href="{{ path('user_index') }}" class="btn btn-secondary">retour à la liste des utilisateurs</a>
    </div>
</div>
{% endblock %}
